<h2 class="text-center">@(Status == TodoItemStatus.Todo ? "To do" : "Completed") Items</h2>

@if (Items is null)
{
    <div class="row">Loading...</div>
}
else if (Items.Length == 0)
{
    <div class="row">No items yet!</div>
}
else
{
    <div class="row">
        <div class="col">
            <TodoItemsTable Items="Items"
                            OnDeletedEventCallback="DeleteAsync"
                            OnUpdatedEventCallback="UpdateAsync"
            />
        </div>
    </div>
    <div class="row">
        <div class="col">
            <Pagination MetaData="MetaData" Spread="2" PageSelectedEventCallback="OnPageSelected" />
        </div>
    </div>
}

<SuccessNotification @ref="_notification" />
