<table class="table">
    <tbody>
        @foreach (TodoItemDto item in Items)
        {
            <TodoItem Item="item"
                      OnDeletedEventCallback="OnDeletedEventCallback"
                      OnUpdatedEventCallback="OnUpdatedEventCallback"
            />
        }
    </tbody>
</table>
